PL_OnPremSQL.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"opdg01_sqlAsus_RetailData":{"type":"string"},"LH_Fabric":{"type":"string"}},"variables":{},"resources":[{"name":"PL_OnPremSQL","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup1","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"select schema_name(t.schema_id) as schema_name, t.name as table_name\nfrom sys.tables t\norder by table_name","queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"database":"RetailData"},"externalReferences":{"connection":"[parameters('opdg01_sqlAsus_RetailData')]"}}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Lookup1","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@activity('Lookup1').output.value","type":"Expression"},"isSequential":true,"activities":[{"name":"Copy data1","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"SqlServerSource","queryTimeout":"02:00:00","partitionOption":"None","datasetSettings":{"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{"schema":{"value":"@item().schema_name","type":"Expression"},"table":{"value":"@item().table_name","type":"Expression"},"database":"RetailData"},"externalReferences":{"connection":"[parameters('opdg01_sqlAsus_RetailData')]"}}},"sink":{"type":"LakehouseTableSink","tableActionOption":"Append","datasetSettings":{"annotations":[],"linkedService":{"name":"LH_Fabric","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"21c17c73-23c5-4a44-af19-7725fef8e566","artifactId":"[parameters('LH_Fabric')]","rootFolder":"Tables"}}},"type":"LakehouseTable","schema":[],"typeProperties":{"table":{"value":"@item().table_name","type":"Expression"}}}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}}}]}}],"lastModifiedByObjectId":"0a44ef67-88aa-4c0b-a26a-f1edd716931c","lastPublishTime":"2025-07-16T23:18:50Z"},"dependsOn":[]}]}